body {
  font-family: 'Jura', sans-serif;
  width: 100%;
  margin: 20px;
  
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Lato", sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#hello {
  height: 800px;
  font-size: 20px;
}

.hellotext {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  justify-content: center;
  align-items: center;
  margin: 50px;
  border: 10px solid black;
  padding: 20px;
  height: 400px;
}

.buttons {
  display: flex;
  align-items: center;
}

.threebuttons {
  margin: 15px;
  padding: 10px;
  color: black;
  font-size: 25px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}

p {
  font-size: 30px;
  padding: 10px;
}

#aboutMe {
  display: flex;
  flex-direction: row;
  border: 5px solid black;
  background-color: rgb(149,187,215);
  justify-content: center;
  text-align: center;
}

.quote1 {
  background-color: rgb(240,211,219);
  height: 150px;
  color: black;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  border-left: 5px solid black;
  border-right: 5px solid black;
  
}

/* #myStory {
  background: url(liner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
} */


/* .storyimg {
  grid-column: 1;
  margin: 0;
  object-fit: cover;
  border: 5px solid black;
} */

#theStory {
  display: flex;
  flex-direction: row;
  border: 5px solid black;
  background-color: rgb(252,94,0);
  justify-content: center;
  text-align: center;
}

p {
  font-size: 30px;
  padding: 10px;
}

.quote2 {
  background-color: rgb(240,211,219);
  height: 150px;
  color: black;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

#Stuff {
  display: flex;
  flex-direction: row;
  border: 5px solid black;
  background-color: rgb(155,173,168);
  justify-content: center;
  text-align: center;
}





@media screen and (max-width: 600px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  .theStory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }
  
}