* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Lato", sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.center {
  top: 55%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 35px;
  width: 100%;
  color:  #3d3d3d;
  margin-bottom: 50px;
}

.flex-container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  width: 100%;
  flex-wrap: wrap;
}

.blog1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  align-items: center;
  border: 2px solid black;
  
}

.oneText {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px;
  border: 2px solid black;
}

.blog2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  grid-row: 1;
  grid-column: 2;
  align-items: center;
  border: 2px solid black;
}

.twoText {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px;
  border: 2px solid black;
}

.blog3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  grid-row: 1;
  grid-column: 3;
  align-items: center;
  border: 2px solid black;
}

.threeText {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 2;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px;
  border: 2px solid black;
}

img {
 width: 100%;
 height: 100%;
}

a {
  background-color: teal;
  width: 100px;
  padding: 5px;
  margin: 20px;
}



@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }
}