body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


h1 {
  letter-spacing: 2px; 
}

p {
  display: flex;
  

}

.image {
  background-image: url("./Sandra.jpg");
  width: 450px;
  height: 500px;
  background-size: cover;
  position: absolute;
  top: 18%;
  left: 65%;
  z-index: -1;
}

.text{
  margin:  0;
  background:  url("ladywall.jpg") center;
  background-size: contain;
  width: 80vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Lobster', cursive;
  font-size: 15vw;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 5%;
}






@media screen and (max-width: 600px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}



.image {
  left: 0%;
  top: 30%;
  height: 400px;
}
 
}
